@{
    ViewBag.Title = "Index";

}

@* 按钮行 *@

<div style="clear:both"></div>
<div class="input-group col-lg-3" style="margin-top:20px;margin-bottom:10px;width:50%;" >
    <input id="searchText" type="text" class="form-control" placeholder="请输入页名" />
    <span class="input-group-btn">
        <button class="btn btn-info btn-search" onclick="query()">查找</button>
        <button class="btn btn-info btn-search" style="margin-left:3px" data-toggle="modal" data-target="#modaldialog" data-title="添加">添加</button>
        <a class="btn btn-info " style="margin-left:3px"  href="@Url.Action("OutPutJs")?type=1" target="_blank">导出英文包</a>
        <a class="btn btn-info " style="margin-left:3px" href="@Url.Action("OutPutJs")?type=0" target="_blank">导出中文包</a>
    </span>
</div>  
<div class="table-responsive">
    <table id="table_01" class="table table-bordered table-striped table-hover" style="margin-bottom:0px;"></table>
</div>
<div style="clear:both"></div>


    <!-- 模态框（Modal） -->
    <div class="modal fade" id="modaldialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" style="width:320px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">模态框（Modal）标题</h4>
                </div>
                <div class="modal-body">在这里添加一些文本</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button id="submit" type="button" data-spinner-size="35px" data-style="slide-up" class="btn btn-primary ladda-button" onclick="return formSubmit()"><span class="ladda-label">提交更改</span></button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <script>
        var ladda = Ladda.create(document.querySelector('#submit'));
        $(function () {
            $('#modaldialog').modal({
                show: false,
                keyboard: true,
                backdrop: true
            });
            $('#modaldialog').on('show.bs.modal', function (e) {
                var btn = $(e.relatedTarget);
                //console.log(btn.data('title'));

                var parames = typeof btn.data('whatever') == "undefined" ? null : btn.data('whatever');
                var title = typeof btn.data('title')=="undefined" ? "详情" : btn.data('title');
                var current = $(e.currentTarget);
                ajax({
                    url: '@Url.Action("Detail")' + (parames == null ? "" : "?ID=" + parames),
                    async: false,
                    success: function (res) {
                        current.find('.modal-title').html(title);
                        current.find('.modal-body').html(res);
                    }
                });
            });

            var cols = [
                    {
                        title: '序号',
                        width: '5%'
                    }, {
                        field: 'ID',
                        title: 'ID',
                        width: '20%'
                    }, {
                        field: 'Name',
                        title: '页名',
                        width: '40%'
                    },
                    {
                        field: 'Count',
                        title: '记录数',
                        width: '10%'
                    },
                    {
                        field: 'ID',
                        title: '操作',
                        width: '25%',
                        align: 'center',
                        formatter: function (value, row, index) {
                            return '<a class="btn btn-warning btn-sm" href="#" data-toggle="modal" data-target="#modaldialog" data-whatever="'
                                    + value + '"data-title="修改"><i class="fa fa-edit"></i> 修改</a>&nbsp;' +
                                    '<a class="btn btn-danger btn-sm" role="button" onclick="del(\'' + value +
                                    '\',\'' + row.Name + '\')" title="删除"><i class="fa fa-bitbucket"></i> 删除</a>' +
                                    '&nbsp;<a class="btn btn-success btn-sm" role="button" href="@(Url.Action("Index","DicContent"))?TableID=' + value +
                                    '&TableName=' + encodeURI(encodeURI(row.Name)) + '" title="详细"><i class="fa fa-bitbucket"></i>详细</a>';
                        }
                    }
            ];

            $("#table_01").BiaoGe({
                hasPager: true,
                columns: cols,
                loadData: function (pageNum, pageSize, callback) {
                    var data = {
                        //固定参数
                        rows: pageSize,
                        page: pageNum,
                        //自定义参数
                        search: $.trim($("#searchText").val())
                    };
                    $.post(
                        "@Url.Action("List")",
                        data,
                        function (data) {//  {total:11,rows[{..},{..}]}
                            console.log(data);
                            callback(data);
                        },
                        "json"
                    );
                }
            });

        });

        function del(id,name) {
            if (confirm("确认删除[" + name + "]及其子项？")) {
                $.post('@(Url.Action("Delete"))', {ID:id}, function (res) {
                    if(res.success==true)
                    {
                        alert("删除成功");
                        query();
                    }
                })
            }
        }

        function query()
        {
            $("#table_01").BiaoGe("refreshData");
        }

        function showdialog() {
            $('#modaldialog').modal('show')
        }

        function formSubmit()
        {
            ladda.start();

            $.post('@Url.Action("EditAciton")', model, function (res) {
                if(res.success==true)
                {
                    alert("操作成功");
                    ladda.stop();
                    $('#modaldialog').modal("hide");
                    query();
                }
            });
        }

        function fillDialog(option) {
            var defaultop = {
                show: false,
                keyboard: true,
                backdrop: true,
                content: "",//html字符串，优先级在url之下
                url: null,//ajax加载的内容
                timeout: 5000,
                hasClose: true,
                hasSubmit: true,
                hasTitle: true
            }


            $.extend(defaultop, option);



        }

    </script>
